:root {
    --primary-color: #162538;
    --primary-light-color: #EFA3A7;
    --primary-lighter-color: #F7D1D3;
    --primary-shadow-color: #EFA3A74C;
    --button-background-color: #162538;
    --button-background-accent-color: #162538;
    --button-shadow-color: #162538;
    --button-text-color: #FFFFFF;
    --search-line-text-color: #080806;
    --search-line-background-color: #F7F7F9;
    --catalog-header-background-color: #162538;
    --catalog-header-text-color: #FFFFFF;
    --sale-ribbon-background-color: #162538;
    --sale-ribbon-text-color: #FFFFFF;
    --icon-background-color: #162538;
    --icon-color: #FFFFFF;
    --image-star-url: url('/thumbs/color/D71921/img/star.svg');
    --image-check-url: url('/thumbs/color/D71921/img/check.svg');
    --image-camera-url: url('/thumbs/color/FFFFFF/img/camera.svg');
    --image-icons-url: url('/thumbs/color/D71921/img/icons.png');
    --image-icons-big-url: url('/thumbs/color/D71921/img/icons-big.png');
}