<div id="search" class="input-group">
	<input type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" class="form-control input-lg"/>
	<span class="input-group-btn">
		<button type="button" class="btn btn-default btn-lg">
			<i class="fa fa-search"></i>
		</button>
	</span>
</div>

<input type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" class="form-control search-line__input">
<div class="input-group-append">
	<button class="btn btn-primary search-btn" type="product/search" aria-label="Найти на сайте">
		<i class="fa fa-search"></i>
	</button>
</div>
<div class="search-line__dropdown-content"></div>
