@media screen and (max-width:768px) {
    .desktop {
        display: none !important
    }

    .category-menu-nav {
        display: flex;
        flex-direction: column;
    }

    .btn-m-show-catalog {
        margin: 15px auto 10px;
        max-width: 280px;
        width: 100%
    }

    @media screen and (max-width:375px) {
        .btn-m-show-catalog {.product-thumb
            max-width: 100%;
        }
    }

    .page-title,
    .category-title {
        color: #232323;
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 16px
    }

    body,
    html {
        min-width: 100%
    }

    .page-header .wrapper {
        padding: 0;
        max-width: 100%
    }

    .main {
        margin-left: 0;
        padding-left: 30px;
        padding-right: 30px
    }

    .container {
        width: 100%;
        max-width: 100%;
        padding-left: 20px;
        padding-right: 20px
    }

    .affix {
        font-size: 12px;
        height: 16px;
        right: -57px;
        padding: 0 10px 1px;
        line-height: 12px;
        width: 130px
    }

    .wysiwyg {
        max-width: 100%
    }

    .m-navbar {
        width: 100%;
        display: flex;
        padding: 0 20px 0 0
    }

    .m-navbar__item {
        height: 60px;
        display: flex;
        align-items: center;
        padding: 13px 0 13px 20px
    }

    .m-navbar__logo {
        flex-grow: 10
    }

    .m-logo {
        width: 170px
    }

    .m-logo__image {
        max-height: 34px
    }

    .m-navbar__menu {
        flex-grow: 1
    }

    .navbar-light .m-navbar-toggler-menu {
        border: 0;
        padding: 0;
        font-size: 0;
        display: block;
        background-color: #fff
    }

    .navbar-light .m-navbar-toggler-menu-icon {
        width: 25px;
        height: 20px;
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAUBAMAAACKWYuOAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAPUExURUdwTCElKSElKSElKSElKeGn4HUAAAAEdFJOUwDmSkkbapQzAAAAIElEQVQY02MwdIEDRwMGEQTPRQCNp4ikUoGBXDBE7AMArgIlvUql5skAAAAASUVORK5CYII=")
    }

    .m-collapse {
        width: 100%;
        height: calc(100% - 60px);
        left: 0;
        z-index: 10;
        top: 60px;
        position: absolute
    }

    .m-collapse__backdrop {
        background-color: rgba(0, 0, 0, .3);
        height: 100%;
        top: 0;
        position: absolute;
        width: 100%;
        z-index: -1
    }

    .m-collapse__menu {
        padding: 20px;
        background-color: #f2f2f2
    }

    .m-collapse__contacts {
        padding: 20px;
        background-color: #fff
    }

    .m-collapse__catalog {
        padding: 0 20px 20px;
        background-color: #fff
    }

    .m-collapse__contacts .m-site-info .site-info-block .site-info-description {
        margin-bottom: 0
    }

    .m-menu-collapse__btn-show-catalog {
        max-width: 280px;
        width: 100%;
        font-size: 14px;
        text-align: left;
        height: 40px;
        line-height: 20px;
        padding: 10px
    }

    .m-menu-collapse__btn-show-catalog-image {
        margin-right: 12px
    }

    .m-nav {
        margin: 0;
        padding: 0;
        width: 100%;
        display: flex;
        justify-content: space-between
    }

    .m-nav_vertical {
        margin: 30px 0 5px;
        flex-direction: column
    }

    .m-nav__item {
        height: 34px;
        list-style: none;
        margin-right: 10px
    }

    .m-nav__item_vertical {
        height: 22px;
        margin-right: 0;
        margin-bottom: 20px
    }

    .m-nav__item:last-child {
        margin-right: 0;
        margin-bottom: 0
    }

    .m-nav__link {
        color: #000;
        font-size: 12px
    }

    .m-nav__link_vertical {
        font-size: 15px;
        display: block;
        font-weight: 500
    }

    .m-nav__link:active,
    .m-nav__link:hover {
        color: #000;
        text-decoration: none
    }

    .m-nav__link-image-wrapper {
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: -4px
    }

    .m-nav__link-text_vertical {
        vertical-align: middle
    }

    .m-nav__link-image {
        max-width: 20px;
        max-height: 20px
    }

    .m-nav__link-icon {
        width: 20px;
        height: 20px;
        font-size: 20px;
        display: block;
        margin: 0 auto -4px;
        text-align: center;
        color: var(--primary-color)
    }

    .m-nav__link-icon2 {
        min-width: 20px;
        max-width: 20px;
        max-height: 20px;
        display: block;
        margin: 0 auto -4px
    }

    .m-nav__link-icon-container {
        width: 26px;
        display: inline-block;
        text-align: center;
        margin-right: 5px
    }

    .m-nav__link-icon_vertical {
        width: 22px;
        height: 22px;
        font-size: 22px;
        display: inline-block;
        vertical-align: top
    }

    .m-nav__item-counter {
        background-color: #212529;
        color: #f0f0f1;
        border-radius: 50%;
        line-height: 10px;
        font-size: 6px;
        width: 9px;
        height: 9px;
        position: absolute;
        margin-top: -24px;
        margin-left: 26px;
        display: block;
        text-align: center
    }

    .search-line {
        padding: 20px
    }

    .search-line__dropdown-content {
        top: 60px
    }

    .collapse-control-wrapper {
        padding: 20px;
        background-color: var(--search-line-background-color)
    }

    .collapse-control {
        display: flex;
        justify-content: space-between
    }

    .collapse-control__title {
        font-size: 15px;
        line-height: 15px;
        display: inline-block
    }

    .collapse-control__button {
        border: 0;
        padding: 0;
        height: 15px;
        background: 0 0;
        line-height: 15px;
        color: var(--search-line-text-color)
    }

    .collapse-control__button-image {
        margin: 0 20px 1px 2px
    }

    .m-footer {
        width: 100%;
        margin-top: 20px;
        padding: 20px 18px 6px;
        background-color: #f2f2f2
    }

    .m-nav-footer {
        justify-content: space-evenly
    }

    .copyright__google-recaptcha {
        text-align: center;
        width: 100%;
        margin: 0;
        padding: 15px 0 0
    }

    .copyright__google-recaptcha>a,
    .copyright__google-recaptcha>a:hover,
    .copyright__google-recaptcha>a:focus {
        color: #000;
        text-decoration: underline
    }

    .m-fixed-footer_product .product-brief__description-body-link {
        font-size: 12px
    }

    .m-fixed-footer_product .product-brief__description-title {
        font-size: 14px
    }

    .m-fixed-footer_product .product-brief__payment-price {
        font-size: 20px
    }

    .m-fixed-footer_product .wrapper {
        padding: 0 20px;
        justify-content: space-between
    }

    .m-fixed-footer_product .product-brief__item {
        width: calc(100% - 280px);
        padding-bottom: 5px;
        min-width: 280px
    }

    .m-fixed-footer_product .product-brief__payment {
        padding: 0 0 0 10px
    }

    .m-fixed-footer_product .product-brief__description {
        max-width: unset
    }

    .m-fixed-footer .wrapper {
        justify-content: space-around
    }

    @media screen and (max-width:710px) {
        .m-fixed-footer_product .product-brief__menu-container {
            display: none
        }

        .m-fixed-footer_product .fixed-footer__right-container {
            flex-grow: 1
        }

        .m-fixed-footer_product .user-counters__item {
            margin-right: 20px
        }
    }

    @media screen and (max-width:580px) {
        .m-fixed-footer .product-brief__menu-container {
            display: none
        }

        .m-fixed-footer .fixed-footer__right-container {
            width: 100%;
            padding: 0 8% 15px
        }

        .m-fixed-footer .user-counters__item {
            margin-right: 20px
        }

        .m-fixed-footer_product .wrapper {
            flex-direction: column
        }

        .m-fixed-footer_product .product-brief__item {
            width: 100%
        }

        .m-fixed-footer_product .product-brief__payment {
            margin: 5px 0 10px;
            flex-direction: row;
            display: flex;
            padding: 0
        }

        .m-fixed-footer_product .product-brief__payment .btn {
            margin-top: 2px
        }

        .m-fixed-footer_product .product-brief-quantity {
            white-space: nowrap;
            margin: 0 20px
        }
    }

    @media screen and (max-width:555px) {
        .m-fixed-footer .fixed-footer__right-container {
            padding: 0 10px 15px
        }
    }

    @media screen and (max-width:490px) {

        .m-fixed-footer .user-counters__item,
        .m-fixed-footer_product .user-counters__item {
            margin-right: 10px
        }
    }

    @media screen and (max-width:460px) {

        .m-fixed-footer .user-counters__item,
        .m-fixed-footer_product .user-counters__item {
            display: flex;
            align-items: center;
            flex-direction: column
        }

        .m-fixed-footer .user-counters__item-img,
        .m-fixed-footer_product .user-counters__item-img {
            font-size: 20px
        }

        .m-fixed-footer .user-counters__item-link,
        .m-fixed-footer_product .user-counters__item-link {
            text-decoration: none;
            margin-top: 2px
        }

        .m-fixed-footer .user-counters,
        .m-fixed-footer_product .user-counters {
            width: calc(100% - 45px);
            justify-content: space-between
        }

        .m-fixed-footer .user-counters__item-count_style_viewed,
        .m-fixed-footer .user-counters__item-count_style_basket,
        .m-fixed-footer_product .user-counters__item-count_style_viewed,
        .m-fixed-footer_product .user-counters__item-count_style_basket {
            background-color: #212529;
            color: #f0f0f1;
            border-radius: 50%;
            line-height: 10px;
            font-size: 6px;
            min-width: 9px;
            max-width: 9px;
            width: 9px;
            height: 9px;
            position: absolute;
            margin-top: 14px;
            margin-left: 19px;
            display: block;
            font-weight: 400;
            text-align: center;
            border: 0;
            padding: 0
        }
    }

    @media screen and (max-width:435px) {
        .m-fixed-footer_product .product-brief__payment {
            flex-direction: column
        }

        .m-fixed-footer_product .product-brief__payment .btn {
            margin-top: 5px
        }
    }

    .m-site-info {
        display: flex;
        margin: 0 0 20px
    }

    .m-site-info .site-info-block .site-info-images {
        display: flex;
        margin-right: 30px;
        align-self: flex-start
    }

    .m-site-info .site-info-block_header {
        flex-direction: column
    }

    .m-site-info .site-info-block .m-site-info-header {
        color: #000;
        font-size: 18px;
        font-weight: 700;
        margin: 10px 0 15px
    }

    .m-site-info .site-info-block .site-info-description {
        width: unset
    }

    .m-site-info .site-info-block .site-info-brand {
        width: 180px;
        height: 121px
    }

    .m-site-info .site-info-block .site-info-brand img {
        max-width: 160px;
        max-height: 100px
    }

    .m-site-info .site-info-block .site-info-cert {
        width: 90px;
        height: 121px;
        margin-left: 10px;
        margin-right: 0
    }

    .m-site-info .site-info-block hr {
        left: 180px;
        width: 10px;
        top: unset;
        margin-top: 3.781rem
    }

    @media screen and (max-width:540px) {
        .m-site-info {
            margin: 0
        }

        .m-site-info .site-info-block {
            flex-direction: column
        }

        .m-site-info .site-info-block .site-info-images {
            margin-right: 0;
            margin-bottom: 15px
        }

        .m-site-info .site-info-block .site-info-description {
            margin-bottom: 20px
        }
    }

    @media screen and (max-width:320px) {
        .m-site-info .site-info-block .site-info-description {
            max-width: 70%;
            align-self: self-start
        }
    }

    .m-site-info .contacts-block {
        width: unset;
        margin-top: 15px;
        max-width: 280px
    }

    .m-site-info .contacts-block .nav-item {
        width: 100%
    }

    .m-site-info .contacts-block .nav-item:last-child {
        position: unset
    }

    .m-site-info .contacts-block .nav-item-callback-link {
        height: 30px
    }

    .m-site-info .contacts-block a.callback-link {
        margin: 0;
        line-height: 20px;
        vertical-align: top
    }

    .m-category-menu {
        margin: 0;
        padding: 0
    }

    .m-category-menu__item {
        width: 100%;
        list-style: none;
        border-bottom: 1px solid #e6e6e6
    }

    .m-category-menu__link {
        height: 45px;
        color: #232323;
        font-size: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between
    }

    .m-category-menu__link:active,
    .m-category-menu__link:hover {
        color: #232323;
        text-decoration: none
    }

    .m-category-menu__link:after {
        content: url(/img/arrow_right.png)
    }

    @media screen and (max-width:485px) {
        dialog {
            max-width: calc(100% - 20px);
            min-width: calc(100% - 20px)
        }
    }

    .page__body-head-text {
        color: #232323;
        font-size: 20px;
        font-weight: 500;
        line-height: 20px;
        display: flex
    }

    .page__body-head-img {
        width: 20px;
        height: 20px;
        margin-right: 10px
    }

    .page__body-container-subparagraph {
        margin-left: 1px
    }

    .products-viewed .category-title,
    .products-viewed .products-grid-size {
        display: none
    }

    @media screen and (max-width:590px) {
        .products-viewed .products-grid-sort-link:last-child {
            display: none
        }
    }

    @media screen and (max-width:475px) {
        .products-viewed .products-grid-meta {
            flex-direction: column-reverse
        }

        .products-viewed .products-grid-meta .btn-default {
            flex-basis: 100%;
            margin-bottom: 15px
        }
    }

    @media screen and (max-width:320px) {
        .products-viewed .products-grid-meta .btn-default {
            width: 100%;
            padding: 10px
        }
    }

    .user-type-select-group {
        font-size: 16px
    }

    @media screen and (max-width:442px) {
        .user-type-select-group {
            margin-top: 0;
            text-align: left
        }

        .user-type-select-group .custom-radio:first-child {
            margin-bottom: 10px
        }
    }
}

@media screen and (max-width:768px) {
    .cart-products {
        padding: 15px 15px 5px
    }

    .cart-products .cart-product .cart-num {
        margin-right: 10px
    }

    .cart-products .cart-product .cart-product-photo img {
        max-width: 100px
    }

    .cart-products .cart-product .cart-product-photo {
        width: 27%
    }

    .cart-products .cart-product .cart-product-info {
        width: 38%;
        align-self: start
    }

    .cart-products .cart-product .cart-product-info .cart-product-description {
        white-space: normal
    }

    .cart-product-calc-container {
        width: 175px;
        flex-shrink: 0;
        flex-direction: column
    }

    .cart-products .cart-product .cart-product-quantity {
        margin: 0 0 4px 3px
    }

    .cart-products .cart-product .cart-product-price {
        margin: 0 0 0 10px
    }

    .cart-products .cart-summary .cart-summary-quantity {
        line-height: 22px
    }

    .cart-products .cart-summary .cart-summary-discount {
        text-indent: 5px;
        line-height: 22px;
        margin-left: 20px
    }

    .cart-products .cart-summary .cart-summary-price {
        text-indent: 5px;
        line-height: 22px
    }

    .cart-actions {
        flex-wrap: wrap
    }

    .cart-actions .btn {
        white-space: nowrap;
        width: calc(50% - 5px);
        margin-bottom: 10px
    }

    @media screen and (max-width:480px) {
        .checkout-progress {
            width: 100%;
            margin: 10px 0 20px
        }

        .checkout-progress__item {
            width: 77px
        }

        .checkout-progress__text {
            flex-direction: column
        }

        .checkout-progress__item .fa {
            margin-right: 0;
            margin-bottom: 5px
        }
    }

    @media screen and (max-width:500px) {
        .cart-actions .btn {
            width: 100%
        }
    }

    @media screen and (max-width:530px) {
        .cart-title {
            font-size: 19px;
            color: #000
        }

        .cart-products .cart-product {
            flex-direction: column
        }

        .cart-products .cart-product .cart-num {
            position: absolute;
            left: 35px;
            margin-top: 41px
        }

        .cart-product-calc-container {
            width: 100%
        }

        .cart-products .cart-product .cart-product-info {
            width: calc(100% - 20px);
            margin-top: 20px
        }

        .cart-products .cart-product .cart-product-quantity {
            margin: 15px 0
        }

        .cart-products .cart-product .cart-product-price {
            margin: 0
        }

        .cart-products .cart-summary {
            flex-direction: column
        }

        .cart-products .cart-summary .cart-summary-quantity {
            width: 100%;
            margin-bottom: 10px
        }

        .cart-products .cart-summary .cart-summary-discount {
            margin-left: 0;
            text-indent: 0;
            margin-bottom: 10px
        }

        .cart-products .cart-summary .cart-summary-price {
            text-indent: 0
        }

        .cart-summary-discount-price-container {
            flex-direction: column;
            width: 100%
        }
    }

    @media screen and (max-width:375px) {
        .cart-products .cart-summary {
            padding-right: 0
        }

        .cart-products .cart-summary .cart-summary-discount {
            margin-right: 0;
            font-size: 14px
        }

        .cart-products .cart-summary .cart-summary-discount .cart-summary-discount-value {
            font-size: 14px
        }
    }
}

@media screen and (max-width:768px) {
    .m-breadcrumb-back {
        display: flex;
        width: 28px;
        height: 28px;
        background-color: #f2f2f2;
        border-radius: 3px;
        font-size: 12px;
        align-items: center;
        justify-content: center;
        background-image: url(/img/arrow_left_mini.png);
        background-repeat: no-repeat;
        background-position: center
    }

    .m-breadcrumbs {
        width: calc(100% - 31px);
        display: flex;
        flex-wrap: wrap;
        margin-left: 3px
    }

    .m-breadcrumb-item {
        font-size: 12px;
        margin-left: 7px;
        line-height: 28px;
        color: #000
    }

    .m-breadcrumb-item:first-child {
        font-weight: 700
    }

    .m-breadcrumb-item:active,
    .m-breadcrumb-item:hover {
        color: #000;
        text-decoration: none
    }

    .m-breadcrumb-item:not(:last-child):after {
        content: '/';
        margin-left: 7px
    }

    .m-categories {
        display: block;
        width: 100%;
        margin-bottom: 16px
    }

    .m-categories__inner {
        display: flex;
        flex-wrap: wrap;
        margin-left: -12px;
        margin-bottom: -12px
    }

    .m-categories__item {
        width: 20%;
        padding: 0 0 12px 12px
    }

    @media screen and (max-width:612px) {
        .m-categories__item {
            width: 25%
        }
    }

    @media screen and (max-width:466px) {
        .m-categories__item {
            width: 33.3333333%
        }
    }

    @media screen and (max-width:375px) {
        .m-categories__item {
            width: 50%
        }
    }

    .m-categories__link {
        display: flex;
        padding: 10px 10px 5px;
        flex-direction: column;
        justify-content: space-between;
        border: 1px solid #e6e6e6;
        border-radius: 5px;
        height: 100%
    }

    .m-categories__image {
        display: flex;
        width: 100%;
        height: 60px;
        margin-bottom: 3px;
        align-items: center;
        justify-content: center
    }

    .m-categories__name {
        color: #000;
        font-size: 12px;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis
    }

    .products-grid__inner {
        margin-left: -20px
    }

    .products-grid__item {
        padding-left: 20px;
        padding-bottom: 20px;
        width: calc(100%/3)
    }

    @media screen and (max-width:630px) {
        .products-grid__item {
            width: 50%
        }
    }

    @media screen and (max-width:480px) {
        .products-grid__item {
            width: 100%
        }
    }

    @media screen and (max-width:430px) {
        .products-grid-sort-link:last-child {
            display: none
        }
    }

    @media screen and (max-width:680px) {
        .products-grid-size {
            display: none
        }
    }

    @media screen and (max-width:768px) {
        .products-filter .products-filter-block {
            width: calc(25% - 10px)
        }
    }

    @media screen and (max-width:668px) {
        .products-filter .products-filter-block {
            width: calc(100%/3 - 9px)
        }
    }

    @media screen and (max-width:568px) {
        .products-filter .products-filter-block {
            width: calc(50% - 7px)
        }
    }

    @media screen and (max-width:400px) {
        .products-filter .products-filter-block {
            width: 100%
        }
    }

    .products-filter {
        margin-top: 0
    }

    .products-filter .form-group {
        display: flex;
        gap: 10px
    }

    .products-filter .toggle-all-filters {
        padding: 3px 10px;
        font-size: 14px;
        color: #888 !important;
        border-color: var(--button-background-color);
        border-radius: .25rem;
        margin-top: 0;
        height: 28px;
        flex-grow: 1;
        margin-bottom: 0;
        flex-basis: calc(100%/3);
        white-space: nowrap
    }

    .products-filter .form-group .btn {
        padding: 2px 10px;
        margin: 0;
        flex-grow: 1;
        flex-basis: calc(100%/3)
    }

    .products-filter .products-filter-reset {
        padding: 3px 10px;
        font-size: 14px;
        color: #888;
        border: 1px solid var(--button-background-color);
        display: block;
        border-radius: .25rem;
        margin-top: 0;
        height: 28px;
        flex-grow: 1;
        flex-basis: calc(100%/3);
        white-space: nowrap
    }

    @media screen and (max-width:560px) {
        .products-filter .form-group {
            flex-wrap: wrap
        }

        .products-filter .toggle-all-filters {
            flex-basis: 100%
        }

        .products-filter .form-group .btn,
        .products-filter .products-filter-reset {
            flex-basis: calc(50% - 5px)
        }
    }

    @media screen and (max-width:425px) {
        .category-bottom {
            flex-direction: column
        }
    }
}

@media screen and (max-width:768px) {
    .product .product-name {
        margin: 0
    }

    .product-block-title {
        color: #000;
        font-size: 18px;
        font-weight: 700
    }

    .product .m-product-name {
        color: #000;
        font-size: 18px;
        font-weight: 700;
        padding-bottom: 20px
    }

    .product .product-info .product-form {
        width: 280px;
        height: unset;
        padding: 15px 15px 10px
    }

    .product .product-info .product-form .product-stock-status {
        margin-right: -22px
    }

    .product .product-info .product-form .product-features {
        margin: 10px 0
    }

    .product .product-info .product-form .product-compare-link {
        position: absolute;
        right: 15px;
        margin-top: -47px;
        margin-left: 0
    }

    .product .product-info .product-form .product-buttons {
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 0 0;
        gap: 10px
    }

    .product .product-info .product-form .product-buttons .btn {
        padding: 2px 10px;
        flex-grow: 1
    }

    .product .product-info .product-form .product-prices-block {
        padding: 10px 18px;
        flex-direction: column;
        height: unset;
        margin: 0 -15px
    }

    .product .product-info .product-form .product-prices-block .product-prices .product-old-price {
        font-size: 14px
    }

    .product .product-info .product-form .product-stock-status_not .product-stock-status-text {
        margin-top: 6px
    }

    .product-price-conditions {
        width: unset;
        padding-right: 0
    }

    .product-price-conditions>li {
        margin-top: 10px
    }

    .product-item:first-child {
        width: calc(100% - 290px)
    }

    .product-slider-container {
        width: 100%
    }

    .owl-carousel .owl-item img {
        max-width: 80%
    }

    .owl-dots {
        text-align: center;
        margin-top: -40px;
        position: relative
    }

    .owl-carousel button.owl-dot {
        border: 2px solid #f2f2f2;
        margin-right: 10px;
        width: 15px;
        border-radius: 2px
    }

    .owl-carousel button.owl-dot.active {
        border-color: #d9d9d9
    }

    @media screen and (max-width:525px) {
        .product .product-info {
            flex-direction: column
        }

        .product-item:first-child {
            width: 100%;
            margin-bottom: 10px
        }

        .product .product-info .product-form {
            width: 100%;
            max-width: 100%
        }

        .product .product-info .product-form .product-prices-block {
            flex-direction: row
        }

        .no-js .owl-carousel,
        .owl-carousel.owl-loaded {
            padding: 15px 0 30px
        }

        .owl-dots {
            margin-top: -5px
        }

        .product-slider-container {
            height: 330px
        }

        .product-slider-container .owl-stage-outer {
            height: 265px
        }
    }

    @media screen and (max-width:424px) {
        .product .product-info .product-form .product-prices-block {
            flex-direction: column
        }
    }

    @media screen and (max-width:320px) {
        .product .product-info .product-form {
            width: 280px
        }
    }

    .product .product-properties {
        flex-wrap: nowrap;
        flex-direction: column
    }

    .product .product-properties .product-properties-list {
        flex-basis: 100%;
        max-width: 100%;
        padding-left: 0
    }

    .product .product-properties .product-properties-list:first-child {
        margin-bottom: 0
    }

    .product .product-properties .product-properties-list .product-property .product-property-name {
        font-weight: 700;
        display: inline-block;
        line-height: 12px;
        width: calc(50% - 2px)
    }

    .product .product-properties .product-properties-list .product-property .product-property-value {
        float: unset;
        width: calc(50% - 2px);
        max-width: unset;
        line-height: 12px
    }

    @media screen and (max-width:425px) {

        .product .product-properties .product-properties-list .product-property .product-property-name,
        .product .product-properties .product-properties-list .product-property .product-property-value {
            float: unset;
            width: 100%
        }

        .product .product-properties .product-properties-list .product-property .product-property-value {
            line-height: 17px;
            vertical-align: bottom
        }
    }

    .product-accordion-menu__body {
        padding: 18px
    }

    .product-accordion-menu__body .text_wrap {
        padding: 0 18px
    }

    @media screen and (max-width:645px) {
        .product-accordion-menu p {
            display: none
        }

        .product-accordion-menu__header-text {
            line-height: 20px
        }

        .product-accordion-menu__header-text a {
            line-height: unset
        }
    }

    @media screen and (max-width:440px) {
        .product-accordion-menu__body {
            padding: 13px
        }

        .product-accordion-menu .price {
            display: none
        }

        .product-accordion-menu__header-text a {
            font-size: 12px
        }

        .product-accordion-menu__body .text_wrap {
            padding: 0 0 0 18px
        }
    }

    .products-reviews__head {
        flex-wrap: wrap;
        height: unset;
        padding: 13px 0;
        align-items: start
    }

    .products-reviews__head-inner {
        width: unset;
        flex-grow: 1;
        align-items: end;
        flex-direction: column-reverse
    }

    .products-reviews__head-text {
        color: #000;
        font-size: 18px;
        font-weight: 700;
        margin: 5px 20px 0 0
    }

    .products-reviews__head-item-header {
        font-size: 12px;
        white-space: nowrap
    }

    .products-reviews__btn-write-review {
        margin-right: 0
    }
}

@media screen and (max-width:768px) {
    .m-checkout-title {
        font-weight: 700;
        font-size: 20px;
        color: #000
    }

    @media screen and (max-width:655px) {
        .checkout-client-form-inner {
            width: unset
        }

        .checkout-client-form {
            padding-right: 20px
        }
    }

    @media screen and (max-width:576px) {
        .checkout-client-form .col-form-label {
            padding: 0 0 5px 15px
        }
    }

    .checkout-delivery-form .col-form-label.checkout-delivery-form-method {
        width: 100%
    }

    @media screen and (max-width:425px) {
        .checkout-buttons .col-checkoutform-captcha {
            display: flex;
            flex-direction: column
        }

        .delivery-pickup__controls {
            flex-direction: column
        }

        .delivery-pickup__controls-button {
            margin: 10px 0 0
        }
    }

    @media screen and (max-width:320px) {
        .checkout-buttons .col-checkoutform-captcha input {
            width: 100%
        }
    }

    @media screen and (max-width:700px) {
        .checkout-delivery-form .delivery-methods {
            flex-direction: column;
            gap: 10px
        }

        .checkout-delivery-form .delivery-method-free {
            margin-top: -3px
        }

        .delivery-moscow-methods {
            margin: 0;
            position: initial;
            white-space: normal
        }

        .delivery-moscow-methods .delivery-method:last-child {
            margin-top: 0
        }

        .delivery-moscow-methods__period {
            margin-top: -5px;
            display: block
        }

        .delivery-moscow-tab {
            padding-top: 0
        }
    }

    @media screen and (max-width:710px) {
        .delivery-pickup__points {
            max-height: unset;
            border-radius: 10px
        }

        .custom-control.custom-radio.delivery-pickup__points-item {
            width: 100%;
            border-right: 0;
            padding-right: 15px
        }

        .custom-control.custom-radio.delivery-pickup__points-item:nth-child(odd):nth-last-child(2) {
            border-bottom: 1px solid #e5e5e5
        }
    }

    .delivery-moscow-content__fields .col-sm-4,
    .delivery-moscow-content__fields .col-sm-8 {
        text-align: left;
        flex: 0 0 100%;
        max-width: 100%;
        padding-top: 0
    }

    .delivery-moscow-tab {
        flex-direction: column
    }

    .delivery-moscow-content {
        margin-bottom: 20px
    }

    .delivery-moscow-content__fields .col-sm-8 {
        padding-right: 0
    }

    .delivery-services-content {
        flex-direction: column
    }

    .delivery-services-content__fields-container {
        margin-bottom: 20px
    }

    .delivery-services-content__fields {
        padding-right: 0
    }

    .delivery-services-content__fields .col-sm-10 {
        -ms-flex: calc(100% - 67px);
        flex: 0 0 calc(100% - 67px);
        max-width: calc(100% - 67px)
    }

    .delivery-services-col-2 {
        width: calc(100% - 67px)
    }

    .field-checkoutform-delivery_services_house input {
        width: calc(100% - 30px)
    }

    .delivery-services-col-small {
        -ms-flex: 0 0 37%;
        flex: 0 0 37%;
        max-width: 37%
    }

    .field-checkoutform-delivery_services_block label,
    .field-checkoutform-delivery_services_flat label {
        max-width: 67px
    }

    .field-checkoutform-delivery_services_block div.col-sm-6,
    .field-checkoutform-delivery_services_flat div.col-sm-6 {
        max-width: calc(100% - 67px);
        flex-basis: calc(100% - 67px)
    }

    .delivery-services-col-2 .suggestions-wrapper {
        display: none
    }

    @media screen and (max-width:560px) {

        .delivery-services-content__fields .col-sm-2,
        .delivery-services-content__fields .col-sm-6,
        .delivery-services-content__fields .col-sm-10 {
            flex: 0 0 100%;
            max-width: 100%;
            text-align: left;
            padding-left: 15px
        }

        .field-checkoutform-delivery_services_block div.col-sm-6,
        .field-checkoutform-delivery_services_flat div.col-sm-6 {
            max-width: calc(100% + 15px);
            flex-basis: calc(100% + 15px)
        }

        .delivery-services-col-2 {
            flex-direction: column;
            flex-basis: 100%;
            padding-right: 15px
        }

        .delivery-services-col-small {
            max-width: 100%;
            flex-basis: 18px
        }

        .field-checkoutform-delivery_services_house input {
            width: 100%
        }

        .delivery-services-col-first .col-form-label {
            text-align: left
        }
    }

    .delivery-services-table__head-cell-time {
        padding-right: 0
    }

    .delivery-services-table__cell-cost {
        padding-right: 20px
    }

    .delivery-services-table__other-company {
        display: flex;
        flex-direction: column
    }

    .delivery-services-table__other-company-label {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%;
        text-align: left
    }

    .field-checkoutform-delivery_services_user_custom {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        margin-top: 10px
    }

    .field-checkoutform-delivery_services_user_custom .delivery-services-table__select-company-label {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        text-align: left
    }

    .delivery-services-table__select-company-wrapper {
        padding-left: 0;
        max-width: 227px
    }

    .delivery-services-table__cell-radio-company {
        vertical-align: top;
        padding-top: 15px
    }

    .delivery-services-table__cell-radio-item .custom-radio {
        margin-top: -7px
    }

    @media screen and (max-width:710px) {

        .delivery-services-list__title,
        .delivery-services-table__cell-time,
        .delivery-services-table__head-cell-time,
        .delivery-services-table__cell-last-space {
            display: none
        }

        .delivery-services-table__head-cell-time-dummy {
            display: table-cell
        }

        .delivery-services-table__time {
            display: block;
            margin-top: 5px;
            font-weight: 400
        }

        tr:not(:last-child) .delivery-services-table__cell,
        tr:not(:last-child) .delivery-services-table__cell-radio {
            border-bottom: 0
        }

        tr:not(:last-child) .delivery-services-table__cell {
            padding-bottom: 0
        }

        tr:not(:last-child) .delivery-services-table__cell-info {
            border-bottom: 1px dashed #e5e5e5;
            padding-bottom: 15px
        }

        .delivery-services-table__cell-radio-item .custom-radio {
            margin-top: 0;
            margin-bottom: -12px
        }
    }

    @media screen and (max-width:390px) {
        span.delivery-services-table__text {
            display: none
        }

        .delivery-services-table__head-text {
            display: block;
            margin-top: 15px
        }
    }

    @media screen and (max-width:320px) {
        .checkout-payment-form .checkout-buttons .btn {
            margin: 10px 0;
            width: 100%
        }
    }

    @media screen and (max-width:570px) {

        .delivery-services-table__head-cell-cost,
        .delivery-services-table__cell-cost {
            display: none
        }

        .delivery-services-table__head-cell-cost-dummy {
            display: table-cell
        }

        .delivery-services-table__cost {
            display: block;
            margin-top: 5px;
            font-weight: 400
        }
    }

    @media screen and (max-width:450px) {
        .checkout-product-properties span {
            display: block
        }

        .checkout-product-properties span:last-child {
            margin-left: 0;
            margin-top: 5px
        }
    }

    @media screen and (max-width:540px) {
        .checkout-payment-form .checkout-buttons {
            width: unset
        }
    }

    @media screen and (max-width:510px) {
        .checkout-confirmation-order {
            width: unset;
            flex-direction: column
        }

        .checkout-confirmation-order__header {
            width: 100%;
            margin-bottom: 1rem
        }

        .checkout-confirmation-order__item {
            margin: 0 0 5px
        }
    }

    .checkout-payment-form .order-summary {
        padding: 0;
        width: 240px;
        margin: 0 auto
    }

    .checkout-payment-form .order-summary .order-summary-value {
        padding-left: 7px
    }

    .checkout-payment-form .order-summary .order-summary-title {
        vertical-align: top
    }

    .checkout-payment-form .order-summary .order-summary-value {
        max-width: 112px;
        vertical-align: top;
        display: inline-block
    }

    .checkout-fast-form__inner {
        width: 100%
    }
}

@media screen and (max-width:768px) {
    .checkout-success__header {
        font-size: 22px
    }

    .checkout-success__subheader {
        font-size: 12pt
    }

    .checkout-success {
        max-width: 100%
    }

    .checkout-success__banner {
        background-color: #f2f2f2;
        border-radius: 15px;
        width: 100%;
        height: unset
    }

    .checkout-success__banner-image-container {
        display: none
    }

    .checkout-success__banner-content {
        width: 100%;
        position: unset;
        padding: 1rem 1rem 0
    }

    .checkout-success .order-info__dotted {
        border-bottom: 0
    }

    .checkout-success .order-info__cell-type-fixed {
        width: unset;
        font-weight: 700
    }

    .checkout-success .cart-products .cart-summary {
        padding-bottom: 7px
    }

    .checkout-success .cart-products .cart-summary .cart-summary-quantity {
        white-space: nowrap
    }

    .checkout-success .cart-products .cart-summary .cart-summary-price .cart-summary-price-value,
    .checkout-success .cart-products .cart-summary .cart-summary-weight .cart-summary-weight-value,
    .checkout-success .cart-products .cart-summary .cart-summary-discount .cart-summary-discount-value {
        display: block;
        padding-left: 0;
        padding-top: 5px
    }

    .checkout-success .cart-products .cart-summary .cart-summary-discount {
        margin-right: 0;
        margin-left: 0
    }

    .checkout-success__actions {
        gap: 10px
    }

    .checkout-success__actions .btn,
    .checkout-success__actions .btn:first-child {
        white-space: nowrap;
        padding-right: 0;
        padding-left: 0;
        margin-right: 0;
        flex-grow: 1
    }

    @media screen and (max-width:610px) {
        .checkout-success__actions {
            flex-wrap: wrap
        }

        .checkout-success__actions .btn {
            width: calc(50% - 10px)
        }

        .checkout-success .cart-products .cart-summary {
            flex-direction: column;
            align-items: start;
            gap: 10px
        }

        .checkout-success .cart-products .cart-summary .cart-summary-price .cart-summary-price-value,
        .checkout-success .cart-products .cart-summary .cart-summary-weight .cart-summary-weight-value,
        .checkout-success .cart-products .cart-summary .cart-summary-discount .cart-summary-discount-value {
            display: inline;
            padding-left: 5px;
            padding-top: 0
        }

        .checkout-success .cart-products .cart-summary .cart-summary-price,
        .checkout-success .cart-products .cart-summary .cart-summary-discount {
            text-indent: 0
        }
    }

    @media screen and (max-width:530px) {

        .checkout-success .cart-products .cart-summary .cart-summary-quantity,
        .checkout-success .cart-products .cart-summary .cart-summary-discount {
            margin-bottom: 0
        }
    }

    @media screen and (max-width:470px) {
        .checkout-success .order-info__row {
            flex-direction: column
        }
    }

    @media screen and (max-width:400px) {
        .checkout-success__actions .btn {
            width: 100%
        }
    }
}

@media screen and (max-width:768px) {
    .search-page .m-site-info {
        flex-direction: row;
        margin-top: 5px
    }

    .search-menu {
        flex-wrap: wrap;
        padding: 10px 20px 15px;
        justify-content: flex-start
    }

    .search-menu__item {
        margin-right: 0
    }

    .search-menu__item-link {
        margin: 3px 0
    }

    .search-menu__item:last-child {
        flex-basis: 100%;
        margin-top: 10px
    }

    .search-menu__item:not(:last-child, :nth-last-child(2)) {
        margin-right: 25px
    }

    .search-menu__payment {
        margin-left: 20px;
        margin-right: 0
    }

    .search-menu-special {
        display: flex;
        justify-content: flex-end;
        flex-direction: row-reverse
    }

    @media screen and (max-width:475px) {
        .search-menu__payment {
            margin-bottom: 15px;
            margin-left: 0;
            margin-right: 20px
        }

        .search-menu-special {
            flex-direction: column;
            align-items: center;
            margin-top: 5px
        }

        .search-menu__item {
            width: calc(50% - 25px);
            text-align: left
        }

        .search-menu__item:last-child {
            margin-top: 0
        }
    }

    @media screen and (max-width:540px) {
        .search-page .m-site-info .site-info-block .site-info-description {
            margin-bottom: 0
        }
    }

    .search-page .search-result-title {
        display: none
    }

    .search-page .search-result-category-title,
    .search-page .search-result-articles-title {
        color: #232323;
        font-weight: 700;
        font-size: 20px
    }
}

@media screen and (max-width:768px) {
    .contacts-page__header {
        margin-top: 0;
        justify-content: flex-start
    }

    .contacts-page__header .m-site-info .contacts-block {
        margin-top: 0;
        min-width: 280px
    }

    .page__header-column_theme_requisites {
        padding: 0;
        flex-grow: 1
    }

    .page__header-column_theme_requisites .page__advantages {
        margin: 10px auto;
        max-width: 280px
    }

    .page__header-column_theme_requisites .page__advantages-item {
        display: flex;
        align-items: center
    }

    .page__header-column_theme_requisites .page__advantages-item:first-child {
        margin: 0
    }

    .page__header-column_theme_requisites .page__advantages-item-text {
        margin-left: 10px;
        line-height: 18px
    }

    .contacts-page__line {
        height: 0;
        margin: 25px 0
    }

    .contacts-page__line:first-child {
        margin: 10px 0
    }

    .contacts-accordion_trigger:after {
        right: 27px;
        margin-top: 4px
    }

    @media screen and (max-width:520px) {
        .contacts-page__header {
            flex-direction: column
        }

        .page__header-column_theme_requisites .page__advantages {
            margin: 20px 0;
            max-width: 100%
        }
    }

    .collective-table__row>td {
        padding-right: 15px
    }

    .collective-table__container-text {
        display: none
    }

    @media screen and (max-width:425px) {
        .collective-table__container-text {
            display: block
        }

        .collective-table>thead,
        .collective-table__row>td:not(:first-child) {
            display: none
        }

        .collective-table__row>td {
            padding-right: 0
        }

        .collective-table__container-image {
            margin: 10px auto
        }

        .collective-table__container-text {
            display: flex;
            align-items: center;
            flex-direction: column;
            padding-bottom: 10px
        }

        .collective-table__container-text>span:first-child {
            font-weight: 500
        }

        .collective-table__link {
            font-weight: 500
        }

        .collective-table__link>i {
            margin-right: 5px
        }
    }
}

@media screen and (max-width:768px) {
    .warranty-page__header {
        margin-top: 0
    }

    .warranty-page__methods {
        min-width: 280px
    }

    .warranty-page__header-column {
        flex-grow: 1
    }

    .warranty-page__header-column .page__advantages {
        max-width: 280px;
        margin: 0 auto;
        padding-left: 10px
    }

    .warranty-page__header-column .page__advantages-item-text {
        margin-left: 10px;
        line-height: 18px
    }

    .warranty-page__advantages-item {
        display: flex;
        align-items: center
    }

    @media screen and (max-width:540px) {
        .warranty-page__header {
            flex-direction: column
        }

        .warranty-page__header-column .page__advantages {
            margin: 20px 0 0;
            padding: 0;
            max-width: 100%
        }
    }
}

@media screen and (max-width:768px) {
    .payment-page__header {
        margin-top: 0
    }

    .payment-page__methods {
        min-width: 280px
    }

    .payment-page__methods-item:not(:last-child) {
        margin-bottom: 11px
    }

    .payment-page__header-column {
        flex-grow: 1
    }

    .payment-page__header-column .page__advantages {
        max-width: 280px;
        margin: 0 auto;
        padding-left: 10px
    }

    .payment-page__header-column .page__advantages-item-text {
        margin-left: 10px;
        line-height: 18px
    }

    .payment-page__advantages-item {
        display: flex;
        align-items: center
    }

    .payment-page__advantages-item:first-child {
        margin-top: 5px
    }

    .payment-page__body-container-subparagraph {
        margin-top: 5px
    }

    @media screen and (max-width:540px) {
        .payment-page__header {
            flex-direction: column
        }

        .payment-page__header-column .page__advantages {
            margin: 20px 0 0;
            max-width: 100%;
            padding: 0
        }
    }

    .payment-systems {
        flex-wrap: wrap;
        gap: 10px
    }

    .payment-systems__item:not(:last-child) {
        margin-right: 0
    }

    .payment-systems__item-container-image {
        width: 100%
    }

    .payment-systems__item {
        width: calc(20% - 8px)
    }

    @media screen and (max-width:640px) {
        .payment-systems__item {
            width: calc(25% - 8px)
        }
    }

    @media screen and (max-width:530px) {
        .payment-systems__item {
            width: calc(100%/3 - 7px)
        }
    }

    @media screen and (max-width:400px) {
        .payment-systems__item {
            width: calc(50% - 8px)
        }
    }
}

@media screen and (max-width:768px) {
    .payment-form-inner {
        width: 100%;
        padding-right: 0
    }

    .payment-form-inner .col-sm-8 {
        max-width: 100%;
        flex: 0 0 100%
    }

    .payment-form-inner .row {
        flex-direction: column
    }

    .payment-form-inner .col-form-label {
        text-align: left;
        padding-left: 15px
    }

    .category-title_payment-order {
        margin-bottom: 0
    }
}

@media screen and (max-width:768px) {
    .delivery-page__header {
        margin-top: 0
    }

    .delivery-page__methods {
        min-width: 280px
    }

    .delivery-page__header-column {
        flex-grow: 1
    }

    .delivery-page__advantages {
        max-width: 280px;
        margin: 0 auto
    }

    .delivery-page__advantages-item {
        display: flex;
        align-items: center
    }

    .delivery-page__advantages-item:first-child {
        margin-top: 7px
    }

    .delivery-page__advantages-item-text {
        margin-left: 10px;
        line-height: 18px
    }

    .delivery-page__methods-item:not(:last-child) {
        margin-bottom: 11px
    }

    .own-delivery-blocks__item-body {
        flex-direction: column
    }

    .own-delivery-blocks__item-body-column {
        width: 100%
    }

    .own-delivery-blocks__item-body-column:first-child {
        border-right: 0;
        border-bottom: 1px solid #f2f2f2
    }

    .delivery-services__item-column:first-child {
        flex-direction: column-reverse;
        align-items: flex-start
    }

    .delivery-services__item-headers {
        margin-left: 0;
        display: flex;
        margin-bottom: 10px
    }

    .delivery-services__item-header {
        font-weight: 700
    }

    .delivery-services__item-subheader {
        font-weight: 400;
        margin-left: 5px
    }

    .delivery-services__item-subheader:before {
        content: '('
    }

    .delivery-services__item-subheader:after {
        content: ')'
    }

    .delivery-services__item-link:not(:last-child) {
        margin-right: 40px
    }

    @media screen and (max-width:420px) {
        .own-delivery-blocks {
            flex-direction: column
        }

        .own-delivery-blocks__item {
            width: 100%
        }

        .own-delivery-blocks__item:last-child {
            margin-top: 15px
        }
    }

    @media screen and (max-width:540px) {
        .delivery-page__header {
            flex-direction: column
        }

        .delivery-page__advantages {
            max-width: 100%;
            margin: 20px 0 0;
            padding: 0
        }

        .delivery-page__methods-item:not(:last-child) {
            margin-bottom: 0
        }
    }

    @media screen and (max-width:670px) {
        .delivery-services__item-column:last-child {
            flex-direction: column-reverse;
            justify-content: center;
            align-items: flex-start;
            padding-top: 31px;
            gap: 5px
        }

        .delivery-services__item-link:not(:last-child) {
            margin-right: 15px
        }
    }

    @media screen and (max-width:430px) {
        .delivery-services__item {
            flex-direction: column
        }

        .delivery-services__item-column:last-child {
            padding-top: 10px
        }
    }
}

@media screen and (max-width:768px) {

    .help-page__card-image-card,
    .help-page__card-image-truck {
        background-image: none
    }

    .help-page__card .img_wrap,
    .help-page__logo-image {
        display: none
    }

    .help-page__wrap {
        gap: 15px;
        flex-wrap: wrap;
        padding-top: 10px
    }

    .help-page__item:first-child,
    .help-page__item:nth-child(2),
    .help-page__item:nth-child(3) {
        width: calc(100%/3 - 10px)
    }

    .help-page__item:nth-child(2) .help-page__card {
        height: unset
    }

    .help-page__card {
        margin-bottom: 0
    }

    .help-page__card:not(:last-child) {
        margin-bottom: 15px
    }

    .help-page__mobile-contacts {
        display: none
    }

    .help-categories h2 {
        padding: 25px 0 4px
    }

    @media screen and (max-width:640px) {

        .help-page__item:first-child,
        .help-page__item:nth-child(2),
        .help-page__item:nth-child(3) {
            width: calc(50% - 8px)
        }
    }

    @media screen and (max-width:460px) {

        .help-page__item:first-child,
        .help-page__item:nth-child(2),
        .help-page__item:nth-child(3) {
            width: 100%
        }
    }

    @media screen and (max-width:610px) {
        .help-page__contact {
            display: none
        }

        .help-page__mobile-contacts {
            margin: 0 0 5px;
            display: block
        }

        .help-page__mobile-contacts .contacts-block {
            margin-top: 0
        }
    }
}

@media screen and (max-width:768px) {
    .products-reviews__body-item-main-header {
        flex-direction: column
    }

    .products-reviews__body-item-rating {
        margin: 10px 0
    }

    @media screen and (max-width:530px) {
        .products-reviews__body-item-main-header-brief {
            flex-direction: column
        }

        .products-reviews__body-item-rating-brief {
            margin: 10px 0
        }

        .category-reviews__item-body {
            flex-direction: column
        }

        .category-reviews__product {
            margin: 0 auto
        }

        .category-reviews__review-container {
            margin: 20px 0 0
        }

        .review-create__header {
            margin: 0;
            flex-direction: column
        }

        .review-create__header-text:last-child {
            margin: 10px 0 15px
        }
    }

    @media screen and (max-width:320px) {

        .btn-show-more_size_small,
        .review-create__btn-submit,
        .category-reviews__product {
            width: 100%
        }
    }
}

@media screen and (max-width:768px) {
    .cooperation__card {
        width: calc(50% - 30px)
    }

    @media screen and (max-width:426px) {
        .cooperation__card {
            width: 100%
        }
    }
}

@media screen and (max-width:768px) {
    .cooperation-form__title {
        font-size: 20px
    }

    .cooperation-form__subtitle {
        font-size: 16px
    }

    .cooperation-steps-wrapper {
        margin-top: 50px;
        margin-bottom: 40px
    }

    .cooperation-steps {
        padding-left: 0
    }

    .cooperation-steps li {
        width: calc(100%/3);
        padding: 0 10px;
        font-size: 12px
    }

    .cooperation-steps li:before {
        width: 50px;
        height: 50px;
        line-height: 40px;
        font-size: 18px
    }

    .cooperation-steps li:after {
        top: 23px;
        margin-left: 43px
    }

    .cooperation-fields__wrapper {
        width: 100%;
        padding: 0 15px
    }

    .cooperation-fields__label {
        width: unset;
        padding-left: 15px;
        padding-top: 0
    }

    @media screen and (max-width:736px) {
        .cooperation-steps li:after {
            width: 65%
        }
    }

    @media screen and (max-width:675px) {
        .cooperation-steps li:after {
            width: 60%
        }
    }

    @media screen and (max-width:618px) {
        .cooperation-steps li:after {
            width: 55%
        }
    }

    @media screen and (max-width:580px) {
        .cooperation-form__banner {
            display: none
        }
    }

    @media screen and (max-width:550px) {
        .cooperation-steps li:after {
            width: 50%
        }
    }

    @media screen and (max-width:480px) {
        .cooperation-form__subtitle {
            display: none
        }

        .cooperation-steps li:after {
            width: 40%
        }
    }

    @media screen and (max-width:410px) {
        .cooperation-steps li:after {
            width: 33%
        }
    }

    @media screen and (max-width:342px) {
        .cooperation-steps li:after {
            width: 15%
        }
    }
}